<.header>
  Edit Leaderboard <%= @leaderboard.id %>
  <:subtitle>Use this form to manage leaderboard records in your database.</:subtitle>
</.header>

<.leaderboard_form changeset={@changeset} action={~p"/leaderboards/#{@leaderboard}"} />

<.back navigate={~p"/leaderboards"}>Back to leaderboards</.back>
